<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98838895021-ria2pk7eatf6koh82g0ieagbnkgmilp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98838895021-ria2pk7eatf6koh82g0ieagbnkgmilp0</string>
	<key>API_KEY</key>
	<string>AIzaSyCs19EKSNycFPnAw9rqpR620W19IHjkklI</string>
	<key>GCM_SENDER_ID</key>
	<string>98838895021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafaelbarquero.zarpafit</string>
	<key>PROJECT_ID</key>
	<string>mygymrapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mygymrapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98838895021:ios:5bc02fe3e4503f56c12924</string>
</dict>
</plist>